<h1>Create Account</h1>

<div class="create-account">
  <%= form_for @user do |f| %>
  <div class="input-field col s12">
    <%= f.text_field :username %>
    <%= f.label :username %>
  </div>
  <div class="input-field col s12">
    <%= f.email_field :email %>
    <%= f.label :email %>
  </div>
  <div class="input-field col s12">
    <%= f.password_field :password %>
    <%= f.label :password %>
  </div>
  <div class="input-field col s12">
    <%= f.password_field :password_confirmation %>
    <%= f.label :password_confirmation %>
  </div>
  <%= f.submit 'Sign Up!', class: 'btn' %>
  <% end %>
</div>
