<div class="order">
  <h3>Order #<%=@order.id%></h3>
  <h5>Placed On: <%= @order.created_at %></h5>
  <h5>Total: <%= number_to_currency @order.total %></h5>
  <h5>Status: <%= @order.status.capitalize %></h5>
  <h6><%= cancel_link %></h6>
  <ul class="creatures">
    <% @order.creatures.each do |creature| %>
      <%= render partial: 'order_creature', locals: {creature: creature} %>
    <% end %>
  </ul>
</div>