<h1>My Cart</h1>
<ul class="cart-creatures">
  <% @cart.creatures.each do |creature| %>
    <%= render partial: 'cart_creature', locals: {creature: creature} %>
  <% end %>
</ul>

<div class="cart-total">
  Total Price: <%= number_to_currency @cart.total_price %>
</div>

<div class="checkout">
  <% if current_user %>
    <%= button_to 'Checkout', orders_path, class: 'checkout-btn btn' %>
  <% else %>
    <p>
      <%= link_to 'Login', login_path %>
      or
      <%= link_to 'Create Account', new_user_path %>
      to Checkout
    </p>
  <% end %>
</div>
