<br>
<br>
<div class="creature">
  <%= form_for [:admin, @creature] do |f| %>
    <div class="input-field col s12">
      <%= f.text_field :breed %>
      <%= f.label :breed, class: 'active' %>
    </div>
    <div class="input-field col s12">
      <%= f.text_field :description %>
      <%= f.label :description, class: 'active' %>
    </div>
    <div class="input-field col s12">
      <%= f.text_field :price %>
      <%= f.label :price, class: 'active' %>
    </div>
    <div class="input-field col s12">
      <%= f.text_field :image_url %>
      <%= f.label :image_url, class: 'active' %>
      <br>
    </div>
    <%= f.label :status %><br>
    <% Creature.statuses.keys.each do |status| %>
      <%= f.radio_button :status, status %>
      <%= f.label status.to_sym, for: 'creature_status_' + status%>
      <br>
    <% end %>
    <br>
    <%= f.submit class: 'btn' %>
  <% end %>
</div>
