<h1>Create Creature</h1>
  <div class="create-creature">
  <%= form_for @creature, url: admin_creatures_path do |f| %>
    <div class="input-field col s12">
      <%= f.text_field :breed %>
      <%= f.label :breed %>
    </div>
    <div class="input-field col s12">
      <%= f.text_field :description %>
      <%= f.label :description %>
    </div>
    <div class="input-field col s12">
      <%= f.text_field :price %>
      <%= f.label :price %>
    </div>
    <div class="input-field col s12">
      <%= f.text_field :image_url, value: 'http://bit.ly/2pzfOM2' %>
      <%= f.label :image_url, class: 'active' %>
    </div>
    <div class="input-field col s12">
      <%= f.collection_select :categories, Category.order(:name),:id,:name, include_blank: true %>
      <%= f.label :categories %>
    </div>
    <br><br>
    <%= f.submit 'Create', class: 'btn' %>
  <% end %>
</div>
